# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
*.log
*.class
*.jar
*.war
*.ear
*.tar.gz
*.zip

# IntelliJ IDEA
.idea/
*.iml
*.iws

# Eclipse
.project
.classpath
.settings/

# NetBeans
.nb-gradle/

# PHP
vendor/
composer.lock
composer.phar
*.log
*.env
node_modules/
phpunit.xml
phpunit.xml.dist
/.idea/
*.sublime-workspace

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails and Finder metadata
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Other system files
Desktop.ini
